<phpunit bootstrap="bootstrap.php"
		 verbose="true"
		 colors="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900">
	<testsuites>
        <testsuite name="unit">
            <directory>./Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>